* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #555;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    place-items: center;
    height: 100vh;
}

.orbit-system {
    display: grid;
    place-items: center;
}

.orbit-system > * {
    grid-area: 1 / 1;
}

.orbiter {
    width: 150px;
    height: 150px;
    offset: circle(180px) calc(100%*sibling-index()/sibling-count()) auto;

    background-color: tomato;
    border: solid 4px #ddd;

    font-size: 3rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px black;
}

controls {
    display: flex;
    gap: 1rem;
}

.controls button {
    font-size: 2rem;
    padding: 0.4em 0.8em;
    background-color: #333;
    color: #ddd;
    border: 2px solid #aaa;
    border-radius: 6px;
    cursor: pointer;
}

